.page
  background-color: $page.colors.background
  max-width: 960px
  height: fit-content
  position: absolute
  left: 0
  right: 0
  margin: auto
  top: -115px
  bottom: 0
  padding: 45px
  text-align: center

.page__title
  color: $page.colors.title

.footer
  position: absolute
  bottom: -115px
  left: 0
  right: 0
  text-align: center

.footer__nav
  margin-bottom: 15px
  .nav-link
    color: #ccc
    &:hover
      color: #9a9a9a