/* Until 576px */
@import 'xs/**/*'

/* 576px to 767px */
@media (min-width: 576px)
  @import 'sm/**/*'

/* 768px to 991px */
@media (min-width: 768px)
  @import 'md/**/*'

/* 992px to 1199 */
@media (min-width: 992px)
  @import 'lg/**/*'

/* More than 1200px */
@media (min-width: 1200px)
  @import 'xl/**/*'
