extends ../layouts/main.pug
block vars
  - page.title = 'Home';
block content
  .row.text-center
    .col-12
      h1.page__title Hi, I'am Gaius
      .content
        p I will help you to create static pages using <span class="badge badge-primary">Pug</span>, <span class="badge badge-success">Stylus</span> and <span class="badge badge-info">Json</span>.
        p So you can add some logic after.
        p
          a(href='second-page.html') Go to the second page
