$colors = {
  primary: #000,
  secondary: #ccc
}

$body = {
  colors: {
    background: #f5f6f8,
    text: #9c9fa7,
  }
};

$page = {
  colors: {
    background: #fff,
    title: #000
  }
};

$box = {
  colors: {
    background: #fff,
    title: #373f58
  }
};

$header = {
  colors: {
    content: #fff
  }
};